.*
.ruby-lsp
.vscode
build
**/__pycache__
node_modules
venv
out
src
!src/XCBBuildServiceProxy
src/XCBBuildServiceProxy/**/__pycache__
dist/extension.js.map
esbuild.js
Gemfile
Gemfile.lock
.ruby-version
make.sh
tsconfig.json
sourcekit_build.sh
test
HOW_TO_BUILD.md
